.footer-wrapper {
  background-color: rgb(233, 235, 238);
  color: rgb(42, 42, 46);
  .footer1 {
    max-width: 1132px;
    width: 100%;
    padding: 48px 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-coloumn {
    .footer-title {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      margin: 12px 0px;
    }
  }
}
