.customHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #20274d;
  padding: 11px 0;
  z-index: 99;
  .customHeaderBody {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    z-index: 999;
  }
}
